@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Josefin+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box
}

p {
    font-family: Josefin Slab, sans-serif;
    letter-spacing: 2px;
    font-size: 150%;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    font-family: Amatic SC, sans-serif;
    color: #ffffff;
}

h2 {
    font-family: Amatic SC, sans-serif;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    font-size: 250%;
}

h3 {
    font-family: Amatic SC, sans-serif;
    color: #ffffff;
    letter-spacing: 2px;
    text-align: center;
    font-size: 150%;
    padding-bottom: 5px;
    padding-top: 15px;
}

/* Navigation */

#navigation {
    background-color: #4e8a84;
    font-family: Amatic SC, sans-serif;
    font-size: 200%;
    letter-spacing: 2px;
    height: auto;
    width: 100%;
    text-align: center;
    list-style-type: none;
    z-index: 1;
}

#navigation li {
    display: inline-block;
    margin: 20px;
}

#navigation a {
    text-decoration: none;
    color: #ffffff;
}

#navigation a:hover {
    border-bottom: 2px solid;
}

.active {
    border-bottom: 2px solid;
}

/* Overlay and hero image */

#overlay {
    color: #ffffff;
    font-family: Amatic SC, sans-serif;
    font-size: 400%;
    letter-spacing: 2px;
    text-align: center;
    width: 500px;
    height: 200px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 50%;
    background-color: rgba(85, 158, 121, .5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

#hero-img {
    height: 500px;
    width: 100%;
    background: url('../images/hero-image.jpg') no-repeat center center;
}

#hero-contain {
    position: relative;
}

/* Intro */

#intro {
    background-color: #4e8a84;
    padding-bottom: 30px;
}

#intro p {
    padding-bottom: 0;
}

/* Popular Walks */

.flex-item {
    padding: 10px;
    flex: 50%;
    margin-top: 10px;
}

.flex-container h1 {
    padding-top: 30px;
}

.specific-walk {
    /*vertical-align: top;*/
    border-radius: 25px;
    border: 2px solid #4e8a84;
    /*display: inline-block;*/
    /*width: 33%;*/
}

.specific-walk p {
    margin-left: 10px;
    margin-right: 10px;
}

#popular-walks {
    background-color: #559e79;
}

#popular-walks h1 {
    text-align: center;
    font-size: 350%;
    letter-spacing: 2px;
    padding-bottom: 25px;
    padding-top: 25px;
}

.specific-walk img {
    border-radius: 25px;
    width: 100%;
    height: auto;
}

iframe {
    border-radius: 25px;
    width: 100%;
    height: 300px;
}

/* Footer */

footer {
    height: auto;
    background-color: #4e8a84;
    padding-top: 15px;
    padding-bottom: 16px;
    width: 100%;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 260%;
    margin: 1%;
    color: #ffffff;
}

/* Gallery */

.flex-container {
    background-color: #559e79;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    border-radius: 25px;
}

/* Form */

#form {
    border-radius: 25px;
    border: 2px solid #73AD21;
    padding: 20px;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #4e8a84;
}

#contact-us h1 {
    text-align: center;
    font-size: 350%;
    letter-spacing: 2px;
    padding-top: 30px;
}

#contact-us {
    background-color: #559e79;
    padding-top: 20px;
    padding-bottom: 20px;
}

input[type=text],
input[type=email],
textarea {
    border: 3px solid #73AD21;
    border-radius: 6px;
    height: 30px;
    /*width: 200px;*/
    width: 50%;
}

input[type=submit] {
    border: 3px solid #73AD21;
    color: #ffffff;
    border-radius: 6px;
    height: 40px;
    width: 80px;
    cursor: pointer;
    background-color: #73AD21;
}

#submit {
    text-align: center;
    padding-top: 10px;
}

#form div {
    text-align: center;
}

form p {
    font-size: 120%;
}

textarea {
    width: 100%;
    height: 150px;
}

/* Walking Tips */

#walking-tips {
    width: 100%;
    height: 100%;
    background-color: #559e79;
    padding-top: 30px;
    padding-bottom: 30px;
}

#walking-tips i {
    font-size: 80%;
}

#walking-tips > h2 {
    padding: 0 20px 0 20px;
}

/* Media Queries */

@media (max-width: 1060px) {
    .walks {
        flex-direction: column;
    }
}

@media (max-width: 1000px) {
    #form {
        width: 70%;
    }

    input[type=text],
    input[type=email] {
        width: 60%;
    }
}

@media (max-width: 800px) {
    #form {
        width: 90%;
    }

    input[type=text],
    input[type=email] {
        width: 60%;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .walks {
        flex-direction: column;
    }
}

@media (max-width: 600px) { 
    #form {
        width: 90%;
    }

    input[type=text],
    input[type=email] {
        width: 80%;
    }

    #overlay {
        font-size: 300%;
        width: 400px;
        height: 150px;
    }

    .column {
        flex: 100%;
        max-width: 100%;
    }

    .walks {
        flex-direction: column;
    }

    #hero-img {
        height: 400px;
    }
}

@media (max-width: 480px) { 
    #overlay {
        font-size: 200%;
        width: 280px;
        height: 120px;
    }

    #hero-img {
        height: 300px;
    }
}